*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
:root{
    --violet-color: #a855f7;
    --main-linear-gradient:linear-gradient(to right,#6a00ff, #d400ff);
}
.register_page,.login_page{
    width: 100%;
    height: 100vh;
    background: url(../images/background_signup_login.png) no-repeat center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}
.register_form,.login_form{
    background:rgba(15, 23, 42, 0.8);
    padding: 40px;
    width: 350px;
    border-radius: 15px;
    text-align: center;
    color: white;
    box-shadow: 0 0 30px rgba(0,0,0,0.5);
}
.register_page .logo,.login_page .logo{
    margin-bottom: 15px;
}
.logo i{
  background: var(--main-linear-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.signup{
   margin-bottom: 8px; 
}
.Login{
    margin-bottom: 8px;
}
.register_page form input,.login_page form input{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 8px;
    outline: none;
    background: rgba(51, 65, 85, 1);
   color:white;
}
.register_page input::placeholder,.login_page input::placeholder {
  color: rgba(255, 255, 255, 0.85);
}
.register_page button,.login_page button{
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    border: none;
    border-radius: 8px;
    background: linear-gradient(to right,#6a00ff, #d400ff);
    color: white;
    font-weight: bold;
    font-size: 17px;
    cursor: pointer;
    transition: 0.3s;
}
.register_page button:hover,.login_page button:hover{
    opacity: 0.8;
}
.login-text,.signup-text{
    margin-top: 15px;
    font-size: 14px;
}
.login-text a,.signup-text a {
  color: #c084fc;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
}
.login-text a:hover,.signup-text a:hover {
  text-decoration: underline;
  color: #a855f7;
}
.game{
  background: #1A2233;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  font-family: sans-serif;
  color: #F3F4F6;
  flex-direction: column;
  font-family: sans-serif;
}
.game #menu{
  display: grid;
  grid-template-columns: repeat(2, 150px);
  gap: 12px;
  justify-content: center;
  text-align: center;
}
.game button {
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background: linear-gradient(135deg, #3B82F6, #8B5CF6);
  color: white;
  font-size: 17px;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3) 
}
.game button:hover{
transform: scale(1.08);
filter: brightness(1.1);

}
.game #timer {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 20px;
}
.game .game-board {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  gap: 15px;
  margin-top: 20px;
  user-select: none;
}
.game .card {
  width: 100px;
  height: 100px;
  background: #111827;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: transparent;
  font-size: 30px;
  cursor: pointer;
  border: 1px solid #1F2937;
  transition: 0.3s;
}
.card.open,.card.matched {
  color: white;
}
.card.open {
  background: linear-gradient(135deg, #3B82F6, #8B5CF6);
  transform: scale(1.05);
}
.card.matched {
  background: #22c55e;
}
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #212b41;
  padding: 30px;
  border-radius: 20px;
  border: 1px solid #354253;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6px;
  z-index: 101;
}
.game .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9); 
    z-index: 100; 
    display: none;
}
.home-page{
    width: 100%;
    min-height: 100vh;
    font-family: Arial,sans-serif;
    color:white;
    background: url(../images/Home\ background.jpeg) no-repeat center/cover;
}
.container{
    padding: 0 40px;
}
.home-page .nav-bar{
    width: 100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding: 15px 40px;
    background: rgba(255,255,255,0.05);
    backdrop-filter: blur(10px);
    border-radius: 0px; 
    position: sticky;
    top: 0;
    z-index: 1000;
}
.home-page .logo{
    font-size: 28px;
    font-weight: bold;
}
.home-page .nav-buttons{
    display: flex;
    gap: 15px;
}
.home-page .register-btn{
   border: 1px solid var(--violet-color);
}
.home-page .login-btn,.home-page .register-btn{
    border-radius: 8px;
    padding: 10px 22px;
    background: transparent;
    color: white;
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
    font-size: 18px;
}

.home-page .login-btn:hover,.home-page .register-btn:hover{
   background: var(--main-linear-gradient);
}
.home-page .hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
    gap: 60px;
}
.home-page .hero-text{
    text-align: left;
}
.home-page .hero-text h1{
    max-width: 620px;
    font-size: 45px;
    line-height: 1.2;
    margin-bottom: 15px;
    margin-top: 60px;
}
.home-page .hero-text p{
    max-width: 500px;
    font-size: 23px;
    color:#c0c3c5;
    margin-bottom: 55px;
}
.home-page .start-btn{
    padding: 14px 30px;
    border: none;
    border-radius: 10px;
    background: var(--main-linear-gradient);
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s;
    box-shadow: 0 0 20px rgba(168,85,247,0.4);
    margin-left: 150px;
    text-decoration: none;
   
}
.home-page .start-btn:hover{
    opacity: 0.7;
}
.home-page .features{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 125px;
}
.home-page .feature-box{ 
    text-align: center;
    color: #c0c3c5;
    transition: 0.4s;
    font-size: 10px;
}
.home-page .feature-box i{
    font-size: 14px;
    margin-bottom: 12px;
    color:#c0c3c5 ;
}
.home-page  p{
   font-size: 35px;
   color:#c0c3c5 ;
}
.home-page .feature-box:hover{
    transform:translateY(-5px);
}
