*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body{
    height: 100vh;
    background: url(../images/background_signup_login.png) no-repeat center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form_box{
    background:rgba(15, 23, 42, 0.8);
    padding: 40px;
    width: 350px;
    border-radius: 15px;
    text-align: center;
    color: white;
    box-shadow: 0 0 30px rgba(0,0,0,0.5);
}
.logo{
    margin-bottom: 15px;
}
.signup{
   margin-bottom: 8px; 
}
.Login{
    margin-bottom: 8px;
}
form input{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 8px;
    outline: none;
    background: rgba(51, 65, 85, 1);
   color:white;
}
input::placeholder {
  color: rgba(255, 255, 255, 0.85);
}
button{
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    border: none;
    border-radius: 8px;
    background: linear-gradient(90deg,#6a00ff, #d400ff);
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}
button:hover{
    opacity: 0.8;
}
.login-text,.signup-text{
    margin-top: 15px;
    font-size: 14px;
}
.login-text a,.signup-text a {
  color: #c084fc;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
}

.login-text a:hover,.signup-text a:hover {
  text-decoration: underline;
  color: #a855f7;
}